main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: x-large !important;
  }
  h2 {
    font-size: large !important;
  }
}

@media only screen and (max-width: 465px) {
  h1 {
    font-size: large !important;
  }
  h2 {
    font-size: large !important;
  }
}

@media only screen and (max-width: 376px) {
  .fade.alert.alert-success.show {
    font-size: small;
  }
}
